@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

body{
    height: 100vh;
}

#nav-main{
    background: #fff;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    /* height: 90px; */
    padding: 1rem 0;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #DCDCDC;
    /* box-shadow: -3px 10px 14px -10px rgba(0,0,0,0.82); */
}


#nav-main ul{
    display: flex;
    justify-content: space-around;
    align-items:center;
    margin: 10px;
    flex-wrap: wrap;
 }
 
 #nav-main li{
     list-style-type: none;
     margin-right: 0.5rem;
 }

#nav-main li a{
    color: #808080;
    text-decoration: none;
    font-family: 'Inter';
    font-size: 1rem
}

.header-primary-logo{
    /* margin-left: 10px; */
    width: 100px;
    height: 75px;
    background-image: url('../img/huawei_logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    /* margin: auto; */
}

.header{
    height:60vh;
    /* background-color: blue; */
    background: url('../img/huawei_background_header.jpg');
    max-width: 100%;
    background-position: 50% 50%;
    background-size: cover;
    background-color: #808080;
    display: flex;
    align-items: center;    
    justify-content: center;
}

/* .header-showcase{
    height: auto;
    width: 100%;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: aqua;
   overflow: hidden;
} */

.header-sec{
    max-width: 70rem;
}

.parent-img{
height: 24rem;
position: relative;

}

.img-11{
height: 100%;
/* width: 100%; */
object-fit: cover;
position: relative;
}


.img-12{
    height:100%;
    /* width: 100%; */
    object-fit: cover;
    position: relative;
}

.overlay{
    position: fixed;
}

/* .img-11-parent{
    height: 400px;
} */

.header .btn-text{
  background-color: transparent;
  border: 1px solid #444;
  color: #444;
  padding: 12px 37px; 
  
}

.header .btn-text:hover{
   background-color: #e76c67;
   border: 1px solid #e76c67;
   color:#fff;
   transition: all 0.6s;
   cursor: pointer;
 }

 .showcase-container{
     /* max-width: 1010px; */
     margin: 0 auto;
     margin-top: 6.5em;
     height: 100vh;
 }


 .showcase-container h2{
     text-align: center;
     margin-bottom: 3.5em;
     font-family: 'Varela';
     text-decoration: #e76c67 solid underline;
 }

 .showcase-container .showcase-images{
     display: grid;
    /* background: #e76c67; */
    /* max-width: 120rem; */
    /* width: 100%; */
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas: "e e e e e . m m m"
                          "c c c c c c . d d"
                          "v v v f f f g g g";
    grid-auto-rows: minmax(400px, auto);
    
 }

 .figure{
     object-fit: cover;
 }
 

.box-1{
    grid-area: e;
    max-width: 100%;
   align-items: center;
   justify-content: center;
}

.box-1 img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}


.box-2{
    grid-area: m;
   
    /* background-image: url('../img/huawei-model.jpg'); */
    max-width: 100%;
}

.box-2 img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.box-3{
    grid-area: c;
    background-color: green;
}

.box-4{
    grid-area: d;
    background-color:blue;
}

.box-5{
    grid-area: v;
    background-color: purple
}

.box-6{
    grid-area: f;
    background-color: yellow;
}

.box-7{
    grid-area: g;
    background-color: red;
}

 /* .showcase-container h2::after{
     content:'';
     width: 30%;
     height: 2px;
    border-bottom: 1px solid #e76c67;
    border-width: 50%;
 } */
/* 
.header-primary-items {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1;
 }
 



.header-primary-items-left li a{
    text-decoration: none;
    font-family: 'Inter';
    font-size: 0.93rem;
    color: 	#808080;
    font-weight: 400;
}


.header-items-right{
    display: flex;
    flex: 0.3;
    align-items: center;
    justify-content: space-around;
}

.header-secondary{
    background: #f5f3f3;
    height: 65px;
    width: 100%;
    z-index:1;
} */